<div class="tools" style="position: fixed; top: 0; bottom: 0px; width: 442px; z-index: 1; overflow-y: scroll; overflow-x: hidden;">
    <div class="card-header text-center" data-target="#components" data-toggle="collapse">
        Components
    </div>
    <div class="row card-body pl-3 collapse show" id="components">
        <div class="col-4">
            <div (click)="toolBarService.initColumn()">
                <div class="componentItem center">
                    <div class="icon"><i class="fas fa-columns fa-3x"></i></div>
                    <div class="name">Columns</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div (click)="toolBarService.initButton()">
                <div class="componentItem center">
                    <div class="icon"><i class="fas fa-stop fa-3x"></i></div>
                    <div class="name">Button</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div (click)="toolBarService.initDivider()">
                <div class="componentItem center">
                    <div class="icon"><i class="fas fa-grip-lines fa-3x"></i></div>
                    <div class="name">Divider</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div (click)="toolBarService.initHTML()">
                <div class="componentItem center">
                    <div class="icon"><i class="fas fa-code fa-3x"></i></div>
                    <div class="name">HTML</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div (click)="toolBarService.initImage()">
                <div class="componentItem center">
                    <div class="icon"><i class="fas fa-image fa-3x"></i></div>
                    <div class="name">Image</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div (click)="toolBarService.initText()">
                <div class="componentItem center">
                    <div class="icon"><i class="fas fa-font fa-3x"></i></div>
                    <div class="name">Text</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-header text-center" data-target="#bodyProp" data-toggle="collapse">Body Properties</div>
            <div class="card-body collapse" id="bodyProp">
                <div class="form-group row ml-1">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Body Color</label>
                    <div class="col-sm-8">
                        <input class="colorPickerInput" [(colorPicker)]="bodyColor" [style.background]="bodyColor"
                            (colorPickerChange)="updateBodyColor($event)" readonly />
                    </div>
                </div>
                <div class="form-group row ml-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Body Width</label>
                    <div class="col-sm-8">
                        <div style="float: right;">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary btn-sm" (click)="bodyWidth('add')"><i
                                        class="fas fa-plus"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm" (click)="bodyWidth('sub')"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center" data-target="#columnSettings" data-toggle="collapse">
                    Blocks
                </div>
                <div class="card-body collapse" id="columnSettings">
                    <div class="row">
                        <div class="col-6 mt-2 mb-2">
                            <div class="row mr-1 ml-1">
                                <div class="col-12 col-icon" style=" border-radius: 5px;"
                                    (click)="toolBarService.updateCol(1)">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mt-2 mb-2">
                            <div class="row ml-1" (click)="toolBarService.updateCol(2)">
                                <div class="col-6 col-icon col-icon-left"></div>
                                <div class="col-6 col-icon col-icon-right"></div>
                            </div>
                        </div>
                        <div class="col-6 mt-2 mb-2">
                            <div class="row mr-1 ml-1" (click)="toolBarService.updateCol(3)">
                                <div class="col-4 col-icon col-icon-left"></div>
                                <div class="col-4 col-icon"></div>
                                <div class="col-4 col-icon col-icon-right"></div>
                            </div>
                        </div>
                        <div class="col-6 mt-2 mb-2">
                            <div class="row ml-1" (click)="toolBarService.updateCol(4)">
                                <div class="col-3 col-icon col-icon-left"></div>
                                <div class="col-3 col-icon"></div>
                                <div class="col-3 col-icon"></div>
                                <div class="col-3 col-icon col-icon-right"></div>
                            </div>
                        </div>
                        <div class="col-6 mt-2 mb-2">
                            <button type="button" class="ml-1 btn btn-danger btn-sm"
                                (click)="toolBarService.removeRow()">Delete row</button>
                        </div>
                        <div class="col-6 mt-2 mb-2">
                            <button type="button" class="ml-1 btn btn-danger btn-sm"
                                (click)="toolBarService.removeColContent()">Clear Content</button>
                        </div>
                        <div class="col-6 mt-2 mb-2">
                            <button type="button" class="ml-1 btn btn-primary btn-sm"
                                (click)="toolBarService.insertRowToCol()">Insert Row to Column</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="toolBarService.type">
            <div class="card-header text-center" data-target="#rowProp" data-toggle="collapse">Row Properties</div>
            <div class="card-body collapse" id="rowProp">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row ml-1">
                            <label for="staticEmail" class="col-sm-4 col-form-label">Row</label>
                            <div class="col-sm-8">
                                <input class="colorPickerInput" [(colorPicker)]="rowColor" [style.background]="rowColor"
                                    (colorPickerChange)="toolBarService.rowColor($event)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Column</label>
                            <div class="col-sm-8">
                                <input class="colorPickerInput" [(colorPicker)]="colColor" [style.background]="colColor"
                                    (colorPickerChange)="toolBarService.colColor($event)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Content Width</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.colWidth('add')"><i class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.colWidth('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Row Width</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.rowWidth('add')"><i class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.rowWidth('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Row Height</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.rowHeight('add')"><i
                                                class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.rowHeight('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="toolBarService.type == 'button'">
            <div class="card-header text-center" data-target="#buttonActions" data-toggle="collapse">Button Actions
            </div>
            <div class="card-body collapse " id="buttonActions">
                <div class="form-group row ml-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Action Type</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control form-control-sm" name="actionType" [(ngModel)]="btnActionType">
                                <option value="openWeb">Open Website</option>
                                <option value="email">Email</option>
                                <option value="call">Call Phone Number</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="btnActionType == 'openWeb'">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">URL</span>
                        </div>
                        <input type="text" class="form-control" #webURL
                            (change)="toolBarService.linkTo(webURL.value, 'web')">
                    </div>
                </div>
                <div *ngIf="btnActionType == 'call'">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Phone Number</span>
                        </div>
                        <input type="text" [(ngModel)]="phoneBtn" class="form-control" appPhoneMask #btnPhone
                            (change)="toolBarService.linkTo(btnPhone.value, 'phone')">
                    </div>
                </div>
                <div *ngIf="btnActionType == 'email'">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                        </div>
                        <input type="text" class="form-control" #btnEmail
                            (change)="toolBarService.linkTo(btnEmail.value, 'email')">
                    </div>
                </div>
            </div>
            <div class="card-header text-center" data-target="#btnProp" data-toggle="collapse">Button Properties</div>
            <div class="card-body collapse " id="btnProp">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group input-group-md mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Button Text</span>
                            </div>
                            <input type="text" class="form-control" #btnText
                                (change)="toolBarService.updateBtnText(btnText.value)">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row ml-1">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Text</label>
                            <div class="col-sm-6">
                                <input class="colorPickerInput" [(colorPicker)]="btnTextColor"
                                    [style.background]="btnTextColor"
                                    (colorPickerChange)="toolBarService.btnTextColor($event)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-8 col-form-label">Button Color</label>
                            <div class="col-sm-4">
                                <input class="colorPickerInput" [(colorPicker)]="btnColor" [style.background]="btnColor"
                                    (colorPickerChange)="toolBarService.btnButtonColor($event)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Button Width</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnWidth('add')"><i class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnWidth('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Border Radius</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnBorderRadius('add')"><i
                                                class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnBorderRadius('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Padding</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnPadding('add')"><i
                                                class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnPadding('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Font Size</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnTextSize('add')"><i
                                                class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="toolBarService.btnTextSize('sub')"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Align</label>
                            <div class="col-sm-8">
                                <div style="float: right;">
                                    <div class="btn-group" role="group">
                                        <button class="btn" (click)="toolBarService.float('left')"><i
                                                class="fas fa-align-left"></i></button>
                                        <button class="btn" (click)="toolBarService.float('none')"><i
                                                class="fas fa-align-center"></i></button>
                                        <button class="btn" (click)="toolBarService.float('right')"><i
                                                class="fas fa-align-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="toolBarService.type == 'divider'">
            <div class="card-header text-center" data-target="#dividerProp" data-toggle="collapse">Divider Properties
            </div>
            <div class="card-body collapse " id="dividerProp">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row ml-1">
                            <label for="inputPassword" class="col-sm-8 col-form-label">Color</label>
                            <div class="col-sm-4">
                                <input class="colorPickerInput" [(colorPicker)]="dividerColor"
                                    [style.background]="dividerColor"
                                    (colorPickerChange)="toolBarService.updateDividerColor($event)" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row ml-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Line</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control form-control-sm" name="dividerType" #dividerType
                                (change)="toolBarService.updateDividerLine(dividerType.value)">
                                <option value="solid" selected>Solid</option>
                                <option value="dashed">Dashed</option>
                                <option value="dotted">Dotted</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row ml-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Thickness</label>
                    <div class="col-sm-8">
                        <div style="float: right;">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    (click)="toolBarService.updateDividerHeight('add')"><i
                                        class="fas fa-plus"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm"
                                    (click)="toolBarService.updateDividerHeight('sub')"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row ml-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Border Radius</label>
                    <div class="col-sm-8">
                        <div style="float: right;">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    (click)="toolBarService.updateDividerBorder('add')"><i
                                        class="fas fa-plus"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm"
                                    (click)="toolBarService.updateDividerBorder('sub')"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="toolBarService.type == 'img'">
            <div class="card-header text-center" data-target="#addImg" data-toggle="collapse">Add Image</div>
            <div class="card-body collapse " id="addImg">
                <div class="col-12">
                    <div class="form-group">
                        <label>Image Url</label>
                        <input type="text" class="form-control" #srcImg
                            (change)="toolBarService.updateImage(srcImg.value)">
                    </div>
                </div>
                <div class="col-12 mb-1" style="height: 300px;">
                    <app-image-drop></app-image-drop>
                </div>
            </div>
            <div class="card-header text-center" data-toggle="collapse" data-target="#imageProp">Image Properties</div>
            <div class="card-body collapse " id="imageProp">
                <div class="card col-12">
                    <div class="form-group row ml-1">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Align</label>
                        <div class="col-sm-8">
                            <div style="float: right;">
                                <div class="btn-group" role="group">
                                    <button class="btn" (click)="toolBarService.float('left')"><i
                                            class="fas fa-align-left"></i></button>
                                    <button class="btn" (click)="toolBarService.float('none')"><i
                                            class="fas fa-align-center"></i></button>
                                    <button class="btn" (click)="toolBarService.float('right')"><i
                                            class="fas fa-align-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row ml-1">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Image Size</label>
                        <div class="col-sm-8">
                            <div style="float: right;">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        (click)="toolBarService.imgWidth('add')"><i class="fas fa-plus"></i></button>
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        (click)="toolBarService.imgWidth('sub')"><i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12" *ngIf="toolBarService.type == 'txt'">
            <div class="card-header text-center">Text Properties</div>
            <div class="card-body">
                <div class="form-group row ml-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Align</label>
                    <div class="col-sm-8">
                        <div style="float: right;">
                            <div class="btn-group" role="group">
                                <button class="btn" (click)="toolBarService.textAlign('left')"><i
                                        class="fas fa-align-left"></i></button>
                                <button class="btn" (click)="toolBarService.textAlign('center')"><i
                                        class="fas fa-align-center"></i></button>
                                <button class="btn" (click)="toolBarService.textAlign('right')"><i
                                        class="fas fa-align-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>