.componentItem {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    min-width: 95px;
    max-width: 95px;
    height: 95px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 13px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
    cursor: -webkit-grab;
    transition-duration: 0.15s;
    transition-property: box-shadow;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 4px;
  }
  
  .componentItem:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
  }
  
  .col-icon-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .col-icon-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .col-icon {
    border: 2px solid #adb5bd;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #ced4da;
  }
  
  .colorPickerInput {
    width: 50px;
    height: 30px;
    float: right;
    border-radius: 5px;
    border: 2px solid #adb5bd;
    cursor: pointer;
  }
  
  .tools{
      color: #495057 ;
  }